@font-face {
  font-family : 'Bitter-Bold';
  src: url("assets/fonts/Bitter-Bold.ttf");
}

@font-face {
  font-family : 'Bitter-Italic';
  src: url("assets/fonts/Bitter-Italic.ttf");
}

@font-face {
  font-family : 'Bitter-Regular';
  src: url("assets/fonts/Bitter-Regular.ttf");
}
p , h2, h4, h1{
font-family: bitter-regular;
}
h3 {
  font-family: bitter-bold;
}
.header {
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 2px 10px 1px #848484;
  -moz-box-shadow: 0 2px 10px 1px #848484;
  -o-box-shadow: 0 2px 10px 1px #848484;
  box-shadow: 0 2px 10px 1px #848484;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 111;
}
.header .top-bar {
  background: linear-gradient(-61deg, #00113d 82%, #d35400 80%);
  color: white;
}
.header .top-bar .topbar-left p {
  text-align: right;
  padding: 10px 0 6px 0;
  margin: 0 -10px 0 0;
}
.header .top-bar .topbar-right marquee {
  padding: 12px 0 0 0;
  font-family: bitter-regular;
  margin: 0 -15px 0 -4px;
}
.header .navbar-brand {
  padding: 18px 0;
}
.header .top_header {
  display: inline-flex;
  float: right;
}
.header .top_header .client_single {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-left: 15px;
}
.header .top_header .client_icon {
  width: 35%;
  display: inline-block;
  color: #fff;
  padding: 20px 0 10px 0;
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
}
.header .top_header .client_name {
  width: 100%;
  max-width: 80%;
  float: right;
  padding: 20px 5px;
}
.header .top_header .client_name h2 {
  font-size: 16px;
  margin: 8px 0 0 0;
  line-height: 24px;
}
.header .top_header .client_name h4 {
  font-size: 13px;
  line-height: 1;
}
.header .container .row .bottom-header {
  margin-top: 25px;
}
.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 0;
  list-style: none;
}
.header .bottom-header .nav {
  float: right;
}
.header .bottom-header .nav ul {
  margin: 0;
  padding: 0;
  float: left;
  padding-left: 30px;
}
.header .bottom-header .nav ul li{
    padding: 3px 20px;
}
.header .bottom-header ul li a {
  padding: 0 12px;
  color: black;
  font-family: bitter-regular;
}
.header .bottom-header ul li a:focus {
  color: #d35400;
}
.header .bottom-header ul li a:hover {
  text-decoration: none;
}
.header .bottom-header ul li .btn{
  background: #d35200;
  color: white;
  padding: 3px 20px;
  margin-left: 10px;
  font-family: bitter-bold;
  margin-top: -4px;
  border-radius: 20px;
}
.header .navbar-toggle {
  position: relative; 
  float: right;
  padding: 6px 13px;
  margin-top: 30px;
  background-color: white;
  border: 1px solid #d45504;
  border-radius: 4px;
  display: none;
}
.icon-bar {
  display: block;
  width: 28px;
  background: #da6f2c;
  height: 4px;
  margin: 5px 0;
}
.collapse:not(.show) {
  display: inline-flex;
}
.home-banner {
  margin-top: 194px;
  background: url(assets/images/home-page/home-banner.png) no-repeat;
  width: 100%;
  background-size: cover;
  height: 670px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover;
  -ms-flex-pack: center;
  justify-content: center;
}
.home-banner .banner-text {
  width: 40%;
  margin: 0 auto;
  background: #00000094;
}
.home-banner .banner-text h1 {
  color: white;
  text-align: center;
}
.home-banner .banner-text h1 span {
  font-family: bitter-bold;
}
.home {
  margin-top: -11px;
}
.home .darsan {
  background: #d35400;
  color: white;
  font-size: 20px;
  margin: -70px 0 0 0;
  font-weight: 600;
  z-index: -31;
  position: absolute;
  width: 92.2%;
}
.home .darsan p {
  margin: 110px 0 10px 20px;
}
.home .darsan-timing {
  background: url('assets/images/home-page/darsan-timing.png') no-repeat;
  margin: 80px 0 0 0;
  background-size: cover;
  background-position: bottom;
}
.home .darsan-timing .darsan_time,.home .darsan-timing .darsan_aarti {
  color: #fff;
  padding: 27px 30px 30px
}
.home .darsan-timing .time {
  float: right;
}
.home .darsan_content {
  margin: 30px 0 0 30px;
}
.home .darsan_content p {
  margin-bottom: 0;
}
.home .darsan_content h2 {
  padding: 5px 0 10px 0;
  color: #ce5200;
  font-weight: 700;  
  width: 222px;
  border-bottom: 3px solid #e2e2e2;
  font-size: 36px;
}
.home .darsan_content p:nth-of-type(2){
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: justify;
}
.home .darsan_content .btn {
  background: #d35400;
  color: white;
  font-size: 18px;
  padding: 2px 23px;
  border-radius: 17px;
}
.home .significance {
  padding: 65px 0 30px 0;
}
.home .significance h3 {
  padding: 5px 0 10px 0;
  color: #ce5200;
  font-weight: 700;
  width: 220px;
  border-bottom: 3px solid #e2e2e2;
  font-size: 36px;
  margin: 0 auto;    
  text-transform: uppercase;
  width: 262px;
}
.home .photo_gallery h3 {
  padding: 5px 0 10px 0;
  color: #ce5200;
  font-weight: 700;
  border-bottom: 3px solid #e2e2e2;
  font-size: 36px;
  width: 300px;
  margin: 0 auto;    
  text-transform: uppercase;
}
.home .photo_gallery {
  margin-bottom: 20px;
}
.home .image_section {
  margin-top: 60px;
  margin-bottom: 30px;

}
.home .image_section .image img {
  width: 100%;
  box-shadow: 3px 5px 15px 1px #00000033;
  border-radius: 20px;
  height: 200px;
  object-fit: cover;
  margin: 14px 0;
  cursor: pointer;
}
.home .image_section .image .middle {
    top: 13px;
    width: 90%;
    height: 88%;
    display: flex;
    position: absolute;
    opacity: 0;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #d35400;
    transition: 0.3s all ease;
}
.home .image_section .image .middle :hover {
  opacity: 0.8;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
} 
.home .photo_gallery .btn {
  background: #d35400;
  color: white;
  font-size: 16px;
  display: block;
  font-family: bitter-regular;
  padding: 5px 30px;
  border-radius: 20px;
  border: none;
  margin: 0 auto;
}
.btn:hover {
  transition: 0.2s all ease;
  box-shadow: 3px 4px 9px 1px #00000045;
}
.home .support {
  background: url("assets/images/home-page/support.png") no-repeat;
  margin: 80px 0 40px 0;
  background-size: cover;
  color: white;
}
.home .support .support-content {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.home .support .support-content p {
  margin: -50px 0 0 0;
}
.home .support .support-content h3 {
  font-size: 40px;
  border: none;
}
.home .support .btn-md {
  background: white;
  padding: 4px 30px;
  border: none;
  color: #d35400;
  font-size: 22px;
  font-family: bitter-bold;
  border-radius: 40px;
  margin-top: 20px;
}
.home .videos h3 {
  padding: 5px 0 10px 0;
  color: #ce5200;
  font-weight: 700;
  border-bottom: 3px solid #e2e2e2;
  font-size: 36px;
  width: 140px;
  margin: 0 auto;
  text-transform: uppercase;
}
.home .videos .video img {
  width: 100%;
  cursor: pointer;
}
.home .videos .video {
  margin-top: 40px;
}
.home .videos .video p {
  text-align: center;
  margin-top: 5px;
}
.home .videos .btn {
  background: #d35400;
  color: white;
  font-size: 16px;
  font-family: bitter-regular;
  padding: 5px 30px;
  border-radius: 20px;
  border: none;
  margin: 15px auto 0 auto;
  /* box-shadow: 1px 3px 10px 3px #00000045; */
}
/* .active > div {
  background-position: 0 95% !important;
} */
.home .news {
  margin-top: 60px;
}
.home .news h3 {
  padding: 5px 0 10px 0;
  color: #ce5200;
  font-weight: 700;
  width: 253px;
  border-bottom: 3px solid #e2e2e2;
  font-size: 36px;
  margin-bottom: 50px;
}
.home .new {
  display: flex;    
  margin-top: 40px;
}
.home .news h2, .home .news p {
  margin: 0;
}
.home .new .content p {
  margin-top: 10px;
}
.home .news h2 {
  font-weight: 700;
  font-size: 34px;
}
.home .news .heading {
  background: #00113d;
  color: white;
  border-radius: 15px;
  padding: 15px 25px;
  margin-right: 20px;
}
.home .news .upcoming h3{
  width: 354px !important;
}
.home .upcoming .event img{
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 18px;
  box-shadow: 3px 5px 15px 1px #00000033;
}
.home .event p {
  text-align: center;
  font-family: bitter-bold;
  padding: 5px 0 15px 0;
}
.home .icon1 {
  background: url('assets/images/icons/Icon1.png') no-repeat;
  background-size: initial;
  height: 100px;
  background-position: 32px 7px;
}
.active .icon1 {
  background-position: 32px 100% !important;
}
.home .icon2 {
  background: url('assets/images/icons/icon2.png') no-repeat;
  background-size: initial;
  height: 100px;
  background-position: 36px 5px;
}
.active .icon2 {
  background-position: 32px 100% !important;
}
.home .icon3 {
  background: url('assets/images/icons/icon3.png') no-repeat;
  background-size: inherit;
  height: 100px;
  background-position: 37px 0;
}
.active .icon3 {
  background-position: 35px 104% !important;
}
.home .icon4 {
  background: url('assets/images/icons/icon4.png') no-repeat;
  background-size: inherit;
  height: 100px;
  background-position: 34px 5px;
}
.active .icon4 {  
  background-position: 34px 98% !important;
}
.home .icon5 {
  background: url('assets/images/icons/icon5.png') no-repeat;
  background-size: inherit;
  height: 100px;
  background-position: 33px 4px;
}
.active .icon5 {
  background-position: 33px 96%;
}
.home .icon6 {
  background: url('assets/images/icons/icon6.png') no-repeat;
  background-size: inherit;
  height: 100px;
  background-position: 33px 4px;
}
.active .icon6 {
  background-position: 33px 100% !important;
}
/* .home .icon1:focus {
  background-position: 0 100%;
} */
.nav-fill .nav-item {
  width: 180px;
  margin: 5px;
  height: 120px;
  border-radius: 20px;
  border: none;
  background: #e2e2e2;
  box-shadow: 2px 2px 5px 2px #cecece;
}
.home .tab-pane {
  border-radius: 15px;
  color: white;
  text-align: center;  
  padding: 40px 120px;
}
.home .nav {
  margin-top: 50px;
}
.home .nav-tabs {
  border: none;
}
.home .tab-content h1 {
  font-size: 25px;
  font-family: bitter-bold;
  margin: 20px 0;
}
.nav-fill .nav-item img {
  width: 100%;
}
nav > div a.nav-item.nav-link.active:after {
  content: "";
  position: relative;
  top: 11px;
  border: 16px solid transparent;
  border-bottom-color: #00113d;
}
.home .tab-content {
  margin-top: 15px;
}
 .footer {
  background: #00113d;
}
.footer .container {
  padding: 40px 0;
  margin-top: 30px;
}
.footer h3 {
  margin-bottom: 20px;
  color: white;
  font-family: bitter-bold;
  font-size: 23px;
}
.quick_link {    
  padding: 0;
  list-style: none;
}
.footer .heading {
  
  margin-bottom: 40px;
}
.quick_link li {
  margin: 6px 0;
}
.quick_link li a {
  color: white;
  font-family: bitter-regular;
}
.quick_link li a:hover {
  text-decoration: none;
}
.map {
  margin: 30px 0 0 0;
}
.map iframe {
  height: 100px;
}
.copy-right {
  background: #d35400
}
.copy-right p {
  margin: 0;
  font-size: 15px;
  color: white;
  padding: 8px 0;
  text-align: center;
}

/* about history page */
.about-history {  
  margin-top: 234px;
}
.about-history h1 {
  text-align: center;
  font-family: bitter-bold;
  color: #d35400;
  margin-bottom: 50px;
}
.about-history .history-content p {
  margin-bottom: 25px;
  line-height: 1.8;
}
.about-history .bottom {
  margin: 40px 0;
}
.about-history .bottom .history-img img {
  width: 100%;
  margin-bottom: 30px;
}
/* about history page */

/* about managment */
.about-management {
  margin-top: 230px;
}
.about-management h1 {
  text-align: center;
  font-family: bitter-bold;
  color: #d35400;  
  margin-bottom: 30px;
}
.about-management h3 {
  font-size: 24px;
  text-align: center;
  margin: 50px 0 0 0;
  color: #00113d;
}
.about-management h3:last-of-type {
  color: #d35400;
  margin-top: 60px;
}
.about-management .cards {
  margin-top: 40px;
}
.about-management .cards .card {
  background: #d35400;
  border-radius: 10px;
}
.about-management .cards .blue-bg{
  background: #00113d !important;
}
.about-management .cards .img {
  display: flex;
  justify-content: center;
  padding: 40px 0 30px 0;
}
.about-management .cards img {
  width: 52%;
}
.about-management .cards .card-body {
  padding-top: 0;
}
.about-management .cards .card-body {
  text-align: center;
  color: white;
}
.about-management .cards .card-body h4, .card-body h5 {
  font-family: bitter-bold;
}
.about-management .card-body h5 {
  margin-top: 20px;
}
.about-management .card-body p {
  margin-bottom: 0;
}
.about-management .team {
  margin: 60px 0 30px 0;
}
.about-management .team .card{
  border: none;
  margin-bottom: 30px;
  background: transparent;
}
.about-management .team .card img {
  width: 60%;
  margin: 0 auto;
}
.about-management .team .card h4{
  text-align: center;
  font-size: 18px;
  font-family: bitter-bold;
  color: #d35400;
  margin-top: 20px;
}
.about-management .team .card p{
  text-align: center;
  font-weight: 600;
}
/* !about management */

/* about Trust */
.trust {
  margin-top: 230px;
  margin-bottom: 100px;
}
.trust h3 {
  text-align: center;
  font-family: bitter-bold;
  color: #d35400;
  margin-bottom: 50px;
}
.trust h5{
  font-size: 18px;
  color: #00113d;
  font-family: bitter-bold;
  margin: 35px 0;
}
.trust p {
  margin-bottom: 3px;
}
.trust h5:nth-of-type(even) {  
  color: #d35400;
}
.contact {
  margin-top: 230px;
  margin-bottom: 70px;
}
.contact h1 {
  text-align: center;
  font-family: bitter-bold;
  color: #d35400;
  margin-bottom: 50px;
}
.contact .contact-form {
  width: 60%;
  margin: 0 auto;
}
.contact .contact-form input {
  width: 100%;
  font-family: bitter-regular;
  padding: 9px 15px;
  border-radius: 50px;
  border: 1px solid #949494;
  margin-bottom: 15px;
  outline: none;
  font-size: 14px;
}
.contact-form textarea {
  width: 100%;
  font-family: bitter-regular;
  padding: 9px 15px;
  border-radius: 15px;
  border: 1px solid #949494;
  margin-bottom: 15px;
  outline: none;
  font-size: 14px;
}
.contact-form .btn {
  border-radius: 30px;
  padding: 6px 45px;
  font-size: 20px;
  color: white;
  font-family: bitter-bold;
  background: #d35400;
  margin: 20px auto 0 auto;
}
/* ! about trust */

/* Future Vision */
.future-vision {
  margin: 230px 0 90px 0;
}
.future-vision h1{
  text-align: center;
  font-family: bitter-bold;
  color: #d35400;
  margin-bottom: 30px;
}
.future-vision h5 {
  font-size: 18px;
  color: #00113d;
  font-family: bitter-bold;
  margin: 35px 0;
}
.future-vision .porject {
  margin-bottom: 50px;
}
.future-vision .vision {
  margin: 60px 0 50px 0;
}
.future-vision .left {
  background: url('assets/images/future-vision/vision1.png') no-repeat;
  border-radius: 20px;
}
.future-vision .left p {
  padding: 75px 26px;
  color: white;
}
.future-vision .right {
  background: url('assets/images/future-vision/vision2.png') no-repeat;
  border-radius: 20px;
}
.future-vision .right p {
  color: white;
  padding: 51px 25px;
}
.future-vision h3 {
  text-align: center;
  font-family: bitter-bold;
  color: #00113d;
  margin-bottom: 50px;
}
.future-vision .yellow {
  color: #d35400;
}
.future-vision .video .link {
  width: 70%;
  height: 370px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
}
.future-vision .temple {  
  margin: 60px 0 30px 0; 
}
.future-vision .temple img {
  width: 100%;
}
.future-vision .img {
  width: 72%;
  margin: 0 auto 40px auto;
}
.future-vision .img img {
  width: 100%;
}
.future-vision .temple p {
  margin-bottom: 30px;
}
.future-vision .location {
  margin: 50px 0;
}
.future-vision .location .geo img {
  width: 100%;
}
.future-vision .location h5 {
  margin: 20px 40px;
  text-align: center;
}
.future-vision .download {
  background: url('assets/images/future-vision/download.png') no-repeat;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
.future-vision .download h2 {
  padding: 50px 10px;
  font-size: 29px;
  color: honeydew;
  font-family: bitter-bold;
  margin-bottom: 0;
}
.future-vision .btun {
  align-items: center;
  display: flex;
}
.future-vision .btn {
  background: white;
    color: #d35400;
    padding: 5px 30px;
    font-size: 29px;
    font-family: bitter-bold;
    border-radius: 30px;
    margin-left: 50px;
}
.future-vision .video .link iframe {
  width: 780px;
  height: 380px; 
}

/* gallery page */
.gallery {
  margin: 220px 0 60px 0;
}
.gallery h1 {
  text-align: center;
  font-family: bitter-bold;
  color: #d35400;
  margin-bottom: 30px;
}
.gallery .popup img {
  width: 100%;
  margin-bottom: 30px;
}
#imagemodal .popup img {
  width: 100%;
  cursor: pointer;
  padding-bottom: 30px;
}
#imagemodal .modal-content {
  background: transparent;
  border: none;
  box-shadow: none;
}
#imagemodal .modal-content button.close,.modal-content button.close:hover {
  color: white;
  margin-bottom: 30px;
  margin-right: -60px;
}
#imagemodal .modal-dialog {
  max-width: 600px !important;
  margin: 100px auto;
}
#imagemodal .modal-content img {
  margin-top: 30px;
}
#imagemodal .modal-content .imagepreview {
  width: 100%;
  height: 340px;
  object-fit: cover;
  border-radius: 20px;
}


/* video galley page */
.video-gallery {
  margin: 230px 0 60px 0;
}
.video-gallery h1 {
  text-align: center;
  font-family: bitter-bold;
  color: #d35400;
  margin-bottom: 50px;
}
.video-gallery .pop {
  margin-bottom: 30px;
  cursor: pointer;
}
.video-gallery .pop img{
  width: 100%;
}
#videomodal .modal-dialog {
  max-width: 750px;
}
#videomodal .modal-content {  
  background-color: transparent;
  border: none;
  box-shadow: none;
}
#videomodal .modal-dialog button.close {
  margin: 0 -20px 0 0;
  color: white;
}
#videomodal .modal-dialog iframe {
  border: none;
  margin-top: 50px;
  width: 660px;
  height: 400px;
}
/* faq */
.faq {
  margin: 60px 0 80px 0;
}
.faq h1{
  text-align: center;
  font-family: bitter-bold;
  color: #d35400;
  margin-bottom: 50px;
}
.faq .panel-heading {
  background: #d35200;
  padding: 13px 30px 7px;
  border-radius: 12px;
}
.faq .panel-heading a{ text-decoration: none}
.faq .panel-heading a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.faq .panel-title a.collapsed::before{
  content: "";
  width: 5px;
  height: 25px;
  display: inline-block;
  background: #fff;
  position: relative;
  float: right;
  top: 2px;
}
.faq .panel-title a::after {
  content: "";
  width: 25px;
  height: 5px;
  display: inline-block;
  background: #fff;
  float: right;
  margin: 12px -15px 0 0;
}
.faq .panel-body h4 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
  color: #d35200;
}
.faq .panel-body {
  margin: 0 20px;
}
.faq .panel {
  margin: 20px 0;
}
.faq .panel-body h4:nth-of-type(even) {
  color: #00113d;
}
.active {
  background-color: #00113d !important;
}
.nav-fill .nav-item {
  margin-bottom: 15px;
}
.home .significance nav {
  overflow-x: auto;
  overflow-y: hidden;
}
nav::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 10px;
  background-color: #d9d9d9;
}
nav::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #00006c;
}
nav::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #d9d9d9;
}
.home .significance .nav-tabs {
  width: 1140px;
}
@media( min-width: 320px ) and (max-width: 767px) {
  /* header */
  .home .significance nav {
    width: 95%;
    margin: 0 auto;
  }
  .top-bar, .top_header {
    display: none !important;
  }
  .navbar-brand {
    margin: 0;
  }
  .navbar-brand img {
    width: 60%;
  }
  .shev img {
    width: 80%;
  }
  .home .support .shev {
    margin-top: 40px;
  }
  /* margin top of every page */
  .home-banner {
    margin-top: 100px;
  }
  .about-history {
    margin-top: 150px;
  }
  /* margin top of every page END */
  .home .support {
    margin: 40px 0 10px 0;
    background-size: cover;
    height: 580px;
  }
  .photo_gallery .image {
    width: 90%;
    margin: 0 auto;
  }
  .home-banner .banner-text h1 {
    font-size: 30px;
  }
  .home-banner .banner-text {
    width: 90%;
  }
  .home .support .support-content {
    position: absolute;
    margin-top: 440px;
    text-align: center;
  }
  .home .darsan {
    margin: -85px 0 0 0;
  }
  .home .darsan_content {
    margin: 30px 0 0 0;
  }
  .home .darsan-timing {
    margin: 65px 0 0 0;
  }
  .collapse:not(.show) {
    display: none;
  }
  .header .navbar-toggle {
    display: block;
  }
  .header .bottom-header {
    width: 100%;
    text-align: center;
  }
  .header .navbar-nav {
    display: block;
  }
  .header .bottom-header ul li {
    margin: 10px 0;
  }
  .header .bottom-header .nav {
    float: none;
  }
  .footer {
    text-align: center;
  }
  .footer .row {
    margin: 0;
  }
  .copy-right p {
    font-size: 10px;
  }
  /* home */
  .home-banner {
    background-position: -360px -40px;
  }
  .home .news .upcoming h3 {
    width: 238px !important;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  /* vontact page */
  .contact .contact-form {
    width: 100%;
  }
  .history-img img {
    width: 100%;
  }
  /* management page */
  .about-management .cards .card {
    margin-bottom: 20px;
  }
  /* future vision */
  .future-vision .download {
    background-size: cover;
    background-position: -10px 10%;
    height: 240px;
    flex-direction: column;
  }
  .future-vision .download h2 {
    padding: 10px 15px;
    text-align: center;
    margin-bottom: 0;
  }
  .future-vision .btun {
    justify-content: center;
  }
  .future-vision .btn {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .future-vision {
    margin: 130px 0 40px 0;
  }
  .future-vision .temple img {
    margin-bottom: 20px;
  }
  .future-vision h5 {
    margin: 15px 0;
  }
  .future-vision .left p {
    padding: 25px 23px;
  }
  .future-vision .right {
    height: 400px;
    background-position: -8px 0;
    background-size: cover;
  }
  .future-vision .right p {
    padding: 20px 25px;
  }
  .future-vision .vision {
    margin: 20px 0 30px 0;
  }
  .future-vision h3 {
    margin-bottom: 20px;
  }
  .future-vision .video .link {
    width: 100%;
    height: 300px;
  }
  .future-vision .video .link iframe {
    width: 100%;
    height: 370px;
  }
  /* about trust */
  .trust {
    margin-top: 130px;
    margin-bottom: 30px;
  }
  .trust h3 {
    margin-bottom: 0;
  }
  .trust h5 {
    margin: 20px 0;
  }
  /* gallry */
  .gallery {
    margin: 140px 0 60px 0;
  }
  .video-gallery {
    margin: 150px 0 60px 0;
  } 
  /* contact */
  .contact {
    margin-top: 140px;
    margin-bottom: 70px;
  }
  .contact h1 {
    margin-bottom: 30px;
  }
  /* about managment */
  .about-management {
    margin-top: 130px;
  }
  .about-management h1 {
    margin-bottom: 20px;
  }
  /* home page */
  .home .support .row {
    flex-direction: row-reverse !important;
  }
  .home section {
    display: flex;
    width: 1140px;
  }
  #videomodal .modal-dialog iframe {
    width: 100%;
  }
  .nav-item .show {
    text-align: center;
    margin: -14px 0px 20px 0;
    position: relative !important;
    display: inline-block;
    transition: 0.2s all ease-in-out;
  }
  .nav-item .dropdown-menu {
    transition: 0.2s all ease-in-out;
  }
  .home .tab-pane {
    padding: 20px 20px;
  }
}
@media (max-width: 383px) {
  .header .navbar-brand {
    padding: 18px 0;
    width: 214px;
  }
  .header .navbar-toggle {
    margin-top: 23px;
  }
}
/* Large styling start here */

@media(min-width: 992px) and ( max-width: 1199px){
  .header .bottom-header ul li a {
    padding: 0 8px;
  }
  .shev img {
    width: 100%
  }
}
@media(min-width: 768px) and ( max-width: 991px) {
  .shev img {
    width: 100%
  }
}
/* Large styling end here */